In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('zillow.csv')

In [26]:
df1 = df[['City', "State", 'zipcode',"medValuePSFt", 'lat', 'lng']]
max_val = df1['medValuePSFt'].max()
min_val = df1['medValuePSFt'].min()

In [27]:
print(min_val, max_val)

18 2004

In [28]:
df1.loc[df1['medValuePSFt'] == 2004]

           City State  zipcode  medValuePSFt    lat     lng
5735  Palo Alto    CA    94301          2004  37.44 -122.15

In [29]:
# df1.sort_values(by = 'medValuePSFt', ascending=False)

In [30]:
df1['normalized'] = (df['medValuePSFt'] - min_val) / (max_val - min_val)

/Users/kimberlyjharrison/anaconda3/envs/PythonUCI/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
df1.sort_values(by = 'medValuePSFt', ascending=False)

,City,State,zipcode,medValuePSFt,lat,lng,normalized
5735,Palo Alto,CA,94301,2004,37.4400,-122.1500,1.000000
560,New York,NY,10014,1851,40.7400,-74.0100,0.922961
10246,Atherton,CA,94027,1798,37.4500,-122.2000,0.896274
2392,New York,NY,10012,1756,40.7260,-73.9980,0.875126
2015,New York,NY,10013,1726,40.7200,-74.0100,0.860020
9047,New York,NY,10007,1712,40.7140,-74.0080,0.852971
28,New York,NY,10011,1689,40.7400,-74.0000,0.841390
949,New York,NY,10010,1674,40.7300,-73.9800,0.833837
47,New York,NY,10003,1673,40.7300,-73.9900,0.833333
3402,Palo Alto,CA,94306,1652,37.4100,-122.1300,0.822759
14692,Stinson Beach,CA,94970,1568,37.9400,-122.6900,0.780463
2,New York,NY,10023,1544,40.7800,-73.9800,0.768379
1500,New York,NY,10001,1501,40.7500,-73.9900,0.746727
5886,Los Altos,CA,94022,1490,37.3600,-122.1500,0.741188
9981,Newport Beach,CA,92661,1488,33.6000,-117.9000,0.740181
8697,New York,NY,10069,1481,40.7780,-73.9880,0.736657
2075,San Francisco,CA,94123,1472,37.8000,-122.4400,0.732125
51,New York,NY,10019,1472,40.7700,-73.9900,0.732125
7335,Santa Monica,CA,90402,1457,34.0400,-118.5000,0.724572
1348,New York,NY,10065,1453,40.7650,-73.9650,0.722558
70,New York,NY,10024,1439,40.8100,-73.9700,0.715509
1854,Los Angeles,CA,90291,1431,33.9900,-118.4600,0.711480
10030,Portola Valley,CA,94028,1425,37.3700,-122.2100,0.708459
682,New York,NY,10036,1412,40.7600,-73.9900,0.701913
5446,Los Altos,CA,94024,1409,37.3600,-122.0900,0.700403
10626,Newport Beach,CA,92662,1404,33.6070,-117.8930,0.697885
23,New York,NY,10009,1399,40.7300,-73.9800,0.695368
9463,Carmel-by-the-Sea,CA,93921,1394,36.5449,-121.9257,0.692850
1494,Menlo Park,CA,94025,1382,37.4600,-122.1800,0.686808
296,New York,NY,10021,1375,40.7700,-73.9600,0.683283
...,...,...,...,...,...,...,...
12067,Anson,TX,79501,30,32.8000,-99.9000,0.006042
7704,Harrisburg,PA,17103,30,40.2700,-76.8600,0.006042
12839,Renovo,PA,17764,29,41.3000,-77.8000,0.005539
13033,Weldon,NC,27890,29,36.4200,-77.5900,0.005539
13279,Hamlin,TX,79520,29,32.9000,-100.2000,0.005539
6041,Shreveport,LA,71108,29,32.4600,-93.7600,0.005539
13597,Society Hill,SC,29593,29,34.5000,-79.8000,0.005539
9403,Blackwell,OK,74631,29,36.8000,-97.3000,0.005539
14370,Stafford,KS,67578,29,38.0000,-98.6000,0.005539
7536,Mobile,AL,36617,29,30.7200,-88.0900,0.005539
11491,Prichard,AL,36612,28,30.7500,-88.1100,0.005035
11107,Olney,TX,76374,28,33.3000,-98.7000,0.005035
12680,Buffalo,SC,29321,28,34.7200,-81.7400,0.005035
13165,Memphis,TX,79245,26,34.6000,-100.5000,0.004028
9829,Childress,TX,79201,26,34.5000,-100.4000,0.004028
11933,Floydada,TX,79235,26,33.9000,-101.3000,0.004028
6312,York,PA,17401,26,39.9600,-76.7300,0.004028
5412,Gaffney,SC,29340,25,35.0000,-81.6000,0.003525
11445,Seymour,TX,76380,24,33.6000,-99.3000,0.003021
13189,Commerce,OK,74339,24,36.9300,-94.8700,0.003021
6587,Lima,OH,45804,24,40.7200,-84.0600,0.003021
14581,Temple,OK,73568,23,34.2000,-98.3000,0.002518
10101,Lake Providence,LA,71254,23,32.8000,-91.2000,0.002518
11929,Milan,MO,63556,23,40.2000,-93.1000,0.002518
10268,Wewoka,OK,74884,22,35.2000,-96.5000,0.002014
12016,Stamford,TX,79553,22,32.9000,-99.9000,0.002014
12014,Whitmire,SC,29178,22,34.5000,-81.6000,0.002014
14324,Earlington,KY,42410,22,37.2800,-87.5200,0.002014
12146,Ranger,TX,76470,19,32.5000,-98.7000,0.000504
11787,Winters,TX,79567,18,32.0000,-100.0000,0.000000

In [49]:
df1.tail()

            City State  zipcode  medValuePSFt    lat    lng  normalized
14761  Arch Cape    OR    97102           379  45.80 -123.9    0.181772
14762   Buckland    MA     1338           138  42.58  -72.8    0.060423
14763  Woodstock    NH     3293           138  44.00  -71.6    0.060423
14764      Berea    KY    40404            90  37.60  -84.2    0.036254
14765   Mesquite    NV    89155           158    NaN    NaN    0.070493

In [46]:
len(df1)

14766

In [50]:
df2 = df1.dropna()
len(df2)

14748

In [52]:
df2.tail()

            City State  zipcode  medValuePSFt    lat     lng  normalized
14760     Bethel    NY    12720           112  41.67  -74.89    0.047331
14761  Arch Cape    OR    97102           379  45.80 -123.90    0.181772
14762   Buckland    MA     1338           138  42.58  -72.80    0.060423
14763  Woodstock    NH     3293           138  44.00  -71.60    0.060423
14764      Berea    KY    40404            90  37.60  -84.20    0.036254

City
State
zipcode
medValuePSFt
lat
lng
normalized

In [58]:
import json
x = df2.to_json(orient='records')

In [61]:
len(df2)

14748